[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Kevin-M/client-gateway.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/Nest-Microservices-Kevin-M/orders-microservice.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-Microservices-Kevin-M/products-microservice.git
[submodule "payments-microservice"]
	path = payments-microservice
	url = https://github.com/Nest-Microservices-Kevin-M/payments-microservice.git
[submodule "auth-microservice"]
	path = auth-microservice
	url = https://github.com/Nest-Microservices-Kevin-M/auth-microservice.git
